* {
  appearance: none;
}

a {
  text-decoration: none;
  color: #e4e4e4;
  font-weight: 300;
  font-size: 15px;
}

select:focus-visible {
  outline: none;
}

.wave {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  background: #E9F8F5;/* da cambiare con colore slide superiore */
}

.wave img {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: cover;
}

.content {
  width: 100%;
  background: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.structure {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

 .logo,
 .section,
 .switch-lang {
  width: 100%;
  height: auto;
}

 .logo img {
  width: 95px;
  height: 32px;
  margin-bottom: 30px;
}

 .section {
  display: flex;
  justify-content: space-between;
}

 .section div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

 .section a {
  padding: 12px 0px;
}

 .download a {
  padding: 0px 0px;
}

 .download a:first-child {
  padding-bottom: 10px;
}

 .switch-lang {
  padding: 50px 0px 20px;
}

 .switch-lang .input-container {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

 .input-container span {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

 .switch-lang select {
  width: 250px;
  height: 50px;
  border: 1px solid #c0c4cc;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
  background: #303030;
  color: #fff;
  cursor: pointer;
}

.bi,
.section h3 {
  color: #fff;
}


@media screen and (max-width: 700px) {
   a {
    font-size: 13.5px;
  }

   .section {
    flex-direction: column;
  }

   .section div {
    padding: 20px 0px;
  }

   .section div:last-child .download {
    flex-direction: row;
    justify-content: space-around;
  }

   .section div:last-child .condizioni {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

   .section div:last-child .condizioni a {
    padding: 50px 0px;
    margin: 0px 10px;
  }

   .switch-lang {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
