<footer style="margin-top: 70vh;">
  <div class="wave">
    <img src="../../assets/footer/footer-wave.svg" alt="">
  </div>

  <div class="content">
    <div class="structure">

      <div class="logo">
        <img class="logo" src="../../assets/footer/glovo-white.svg" alt="">
      </div>
      <div class="section">
        <div class="uniamo-le-forze">
          <h3>Uniamo le forze</h3>
          <a href="#">Lavora con noi</a>
          <a href="#">Negozi Partner</a>
          <a href="#">Corrieri</a>
          <a href="#">Glovo Business</a>
        </div>
        <div class="link-di-interesse">
          <h3>Link di interesse</h3>
          <a href="#">Chi siamo</a>
          <a href="#">FAQ</a>
          <a href="#">Blog</a>
          <a href="#">Contattaci</a>
          <a href="#">Sicurezza</a>
        </div>
        <div class="seguici">
          <h3>Seguici</h3>
          <a href="#">Facebook</a>
          <a href="#">Twitter</a>
          <a href="#">Instagram</a>
        </div>
        <div class="download-and-policy">
          <div class="download">
            <a href="#"><img src="../../assets/footer/appstore-button.svg" alt=""></a>
            <a href="#"><img src="../../assets/footer/googlestore-button.svg" alt=""></a>
          </div>
          <div class="condizioni">
            <a href="#">TERMINI E CONDIZIONI</a>
            <a href="#">POLITICA SULLA PRIVACY</a>
            <a href="#">POLITICA SUI COOKIE</a>
          </div>
        </div>
      </div>
      <div class="switch-lang">
        <div class="input-container">
          <select (change)="lang(selectLang)" (click)="switchIcon()" #selectLang name="lang" id="lang">
            <option value="Italiano">Italiano</option>
            <option value="English">English</option>
            <option value="Français">Français</option>
            <option value="中國人">中國人</option>
            <option value="Duitse">Duitse</option>
            <option value="Español">Español</option>
          </select>
          <span>
            <i class="bi {{ icon }}"></i>
          </span>

        </div>
      </div>

    </div>
  </div>
</footer>
