<div class="delivery-info-container">
  <h2 class="text-center fw-bold my-4 pb-5">Consegnamo tutto ciò che vuoi</h2>

  <div class="delivery-info-boxes d-flex">
    <div class="delivery-info-box d-flex flex-column align-items-center">
      <img src="../../assets/delivery-info/restaurants.svg" alt="" />
      <h3 class="text-center fw-bold">I migliori ristoranti della tua città</h3>
      <p class="text-center mb-1">
        Con un'ampia varietà di ristoranti puoi ordinare i tuoi piatti preferiti
        oppure <mark>esplora nuovi ristoranti nei dintorni!</mark>
      </p>
      <div class="btn-mobile">
        <button class="btn btn-primary">Esplora i locali intorno a te</button>
      </div>
    </div>


    <div class="delivery-info-box d-flex flex-column align-items-center col-12">
      <img src="../../assets/delivery-info/delivery.svg" alt="" />
      <h3 class="text-center fw-bold">Consegna rapida</h3>
      <p class="text-center mb-1">
        La rapidità è un nostro punto d'orgoglio. Ordina o invia qualsiasi cosa nella tua città e <mark>lo ritireremo e te lo consegneremo nel giro di qualche minuto.</mark>
      </p>
    </div>

    <div class="delivery-info-box d-flex flex-column align-items-center">
      <img src="../../assets/delivery-info/groceries.svg" alt="" />
      <h3 class="text-center fw-bold">Consegna della spesa e altro</h3>
      <p class="text-center mb-1">
        Trova tutto ciò che ti serve! Dai<mark
          >supermercati ai negozi, dalle farmacie ai fioristi</mark
        >— se è nella tua città, te lo portiamo noi.
      </p>
    </div>
  </div>

  <div class="btn-desktop">
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary">Esplora i locali intorno a te</button>
    </div>
  </div>
</div>
