.nav-bar {
  width: 100%;
  background-color: #ffc244;
  padding: 25px 80px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  z-index: 1010;
}

.btn-primary {
  padding: 12px 60px;
}

.full-logo {
  cursor: pointer;
  width: 135.66px;
  height: 44px;
}

.small-logo {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    padding: 10px 20px;
  }

  .full-logo {
    display: none;
    width: 32px;
    height: 32px;
  }
  .small-logo {
    display: inline-block;
  }
}
