<nav class="w-100 position-fixed">
    <div class="nav-bar d-flex justify-content-between align-items-center">
        <img class="full-logo"
            src="https://res.cloudinary.com/glovoapp/image/fetch//q_auto/https://glovoapp.com/images/logo_green.svg"
            alt="logo">
        <img class="small-logo"
            src="https://res.cloudinary.com/glovoapp/image/fetch//q_auto/https://glovoapp.com/images/logo_green_small.svg"
            alt="small-logo">
        <button class="btn-nav">Inizia</button>
    </div>
</nav>