.nav-bar {
  width: 100%;
  background-color: #ffc244;
  padding: 25px 75px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  z-index: 1010;
}

.btn-nav {
  text-decoration: none;
  border: none;
  padding: 12px 60px;
  border-radius: 100px;
  font-weight: 700;
  color: #fff;
  background-color: #00a082;
  box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 10%);
}

.btn-nav:hover {
  transition: 0.3s ease;
  background-color: #008169;
}

.small-logo {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    padding: 10px 20px;
  }

  .full-logo {
    display: none;
    width: 32px;
    height: 32px;
  }
  .small-logo {
    display: inline-block;
  }
}
